venv/
.vscode/
.DS_Store
*.sh
*.csv
wily*
rmsd*
*.log
*DATA*/
makeSets.py
*.code-workspace
FEREBUS/
__pycache__/
periodic_kernel_implementation_testing.py
ichor.egg-info/
debug/
*.pyc
*.inp
*_atomicfiles
ichor_cli/ichor_cli.egg-info/PKG-INFO
ichor_cli/ichor_cli.egg-info/SOURCES.txt
ichor_cli/ichor_cli.egg-info/top_level.txt
ichor_cli/ichor_cli.egg-info/dependency_links.txt
ichor/ichor_lib.egg-info/dependency_links.txt
ichor/ichor_lib.egg-info/PKG-INFO
ichor/ichor_lib.egg-info/SOURCES.txt
ichor/ichor_lib.egg-info/top_level.txt
ichor_lib.egg-info
.idea
*PKG-INFO*
SOURCES.txt
top_level.txt
dependency_links.txt
requires.txt
build
dist
*venv*
*egg-info*
test.*
.pytest_cache
output.txt
